on: [push]
	job:
		build:
			runs-on: ubuntu-latest
			steps:
			- uses: actions/checkout@v1
			- uses: lauchacarro/Azure-Storage-Action@master
				with:
					folder: 'assets'
					connection-string: ${{ secrets.AZURE_STORAGE_CONNECTION_STRING }}
			
